*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

:root{

--gradient:
linear-gradient(
135deg,
#CB3CFF,
#7F25FB
);

}

body.dark{

--bg:#0d0d12;
--card:rgba(
255,
255,
255,
0.05
);

--text:white;

}

body.light{

--bg:#f5f5f5;
--card:white;
--text:black;

}

body{

background:var(--bg);

color:var(--text);

transition:.3s;

overflow-x:hidden;

}

body::before{

content:"";

position:fixed;

width:600px;
height:600px;

background:
#CB3CFF;

filter:
blur(
180px
);

opacity:.3;

top:-200px;
right:-100px;

}

.hero{

padding:40px;

min-height:100vh;

}

nav{

display:flex;

justify-content:
space-between;

align-items:center;

}

.hero-content{

display:flex;

justify-content:
space-between;

align-items:center;

margin-top:100px;

}

.hero h1{

font-size:70px;

max-width:600px;

}

.hero p{

margin-top:20px;

opacity:.7;

font-size:20px;

}

.gradient-btn{

padding:14px 28px;

border:none;

border-radius:15px;

background:
var(--gradient);

color:white;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.gradient-btn:hover{

transform:
translateY(-4px);

}

.dashboard-preview{

display:grid;

grid-template-columns:
repeat(
2,
1fr
);

gap:20px;

}

.small-card,
.auth-card{

background:
var(--card);

backdrop-filter:
blur(20px);

padding:30px;

border-radius:25px;

border:
1px solid rgba(
255,
255,
255,
0.1
);

}

.auth-container{

display:flex;

min-height:100vh;

justify-content:
space-evenly;

align-items:center;

padding:40px;

}

.auth-left h1{

font-size:70px;

}

.auth-card{

width:400px;

display:flex;

flex-direction:
column;

gap:15px;

}

input{

padding:15px;

border:none;

border-radius:10px;

background:
rgba(
255,
255,
255,
0.05
);

color:inherit;

outline:none;

}

.theme-btn{

background:none;

border:none;

font-size:25px;

cursor:pointer;

margin-right:20px;

}